#clockface {
  viewport-fill: black;
}

.defaultText {
  font-family: System-Regular;
  fill: white;
  text-anchor: middle;
}

#timeText {
  font-size: 96;
  font-family: System-Bold;
  text-length: 5;
  x: "50%";
  y: "50%+40"; 
  text-anchor: middle;
}

#dateText {
  font-size: 40;
  text-length: 12;
  x: "50%";
  y: "50%+20"; 
  
}

.sensorSection {
  x: "5%";
  y: "$";
  width: "95%";
  height: "33%";
}

.sensorIcon {
  width: 35;
  height: 35;
  x: 0;
  y: 5;
  fill: white;
}

.sensorText{
  font-size: 30;
  text-length: 5;
  text-anchor: start;
  x: "$+10";
  y: "30";
  width: "100%-45";
  height: "100%-35";
}

#batteryIcon {
  fill: white;
}

#batteryValue {
  font-size: 30;
  text-length: 4;
  text-anchor: start;
}