#clockface {
  viewport-fill: black;
}

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
}

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  x: "50%";
  y: "50%+16"; 
  text-anchor: middle;
  fill: white;
}

.jumboText {
  font-size: 96;
  font-family: System-Bold;
  text-length: 32;
  x: "50%";
  y: "50%+40"; 
  text-anchor: middle;
  fill: white;
}

.icon {
  width: 35;
  height: 35;
}

.sensorSection {
  x: "5%";
  y: "$";
  width: "95%";
  height: "33%";
}

.sensorIcon {
  x: 0;
  y: 5;
  fill: white;
}

.sensorText{
  font-size: 30;
  font-family: System-Regular;
  text-length: 12;
  text-anchor: start;
  fill: white;
  x: "$+10";
  y: "30";
  width: "100%-45";
  height: "100%-35";
}

#batteryIcon {
  fill: white;
}

#batteryValue {
  font-size: 30;
  font-family: System-Regular;
  text-length: 12;
  text-anchor: start;
  fill: white;
}